{% extends 'base.html.twig' %}

{% block title %}
    {{ 'comment_create'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'comment_create'|trans }}</h1>
    {{ form_start(form, { method: 'POST', action: url('comment_create', {id: vinyl.id}) }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_save'|trans }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('vinyl_show', {id: vinyl.id}) }}" title="{{ 'action_back_to_list'|trans }}">
            {{ 'action_back_to_list'|trans }}
        </a>


    </div>
    {{ form_end(form) }}
{% endblock %}

