{% extends 'base.html.twig' %}

{% block title %}
    {{ 'comment_edit'|trans({'%id%': comment.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'comment_edit'|trans({'%id%': comment.id|default('')}) }}</h1>
    {{ form_start(form, { method: 'PUT', action: url('comment_edit', {id: comment.id}) }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_save'|trans }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('vinyl_show',{id: vinyl.id}) }}" class="btn btn-primary">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}


