{% extends 'base.html.twig' %}

{% block title %}
    {{ 'comment_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'comment_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center"
        {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'comment.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_text'|trans, 'comment.text') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_createdAt'|trans, 'comment.createdAt') }}</th>
                <th>{{ 'label_vinyl' }}</th>
                <th>{{ 'label_actions'|trans }}</th>

            </tr>
            </thead>
            <tbody>
            {% for comment in pagination.items %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.text }}</td>
                    <td>{{ comment.createdAt|format_date('long')  }}</td>
                    <td>
                        {%  for vinyls in comment.vinyls %}
                            {{ vinyl.title}}
                        {%  endfor %}

                    </td>

                    <td>
                        <a href="{{ url('comment_show', {id: comment.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>

                        <a href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'delete'|trans }}">
                            <svg class="bi bi-x-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" >
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                            </svg> </a>


                        <a href="{{ url('comment_edit', {id: comment.id})}}" title="{{'edit'|trans }}">
                            <svg class="bi bi-pencil" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                            </svg> </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url('comment_create') }}">
            <svg class="bi bi-plus-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" >
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
            </svg> </a>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}



