{% extends 'base.html.twig' %}

{% block title %}
    {{ 'name_author_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'name_author_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'author.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_name'|trans, 'author.name') }}</th>

                <th>{{ 'label_actions'|trans }}</th>

            </tr>
            </thead>
            <tbody>
            {% for author in pagination.items %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.name }}</td>



                    <td>
                        <a href="{{ url('author_show', {id: author.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}