{% extends 'base.html.twig' %}

{% block title %}
    {{ 'name_author_details'|trans({'%id%': author.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'name_author_details'|trans({'%id%': author.id|default('')}) }}</h1>
    {% if author is defined and author|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ author.id }}</dd>
            <dt>{{ 'label_name'|trans }}</dt>
            <dd>{{  author.name }}</dd>
        </dl>
        <p>
            <a href="{{ url('author_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label_id'|trans }}</th>
            <th>{{ 'label_title'|trans }}</th>
            <th>{{ 'label_year'|trans }}</th>
            <th>{{ 'label_description'|trans }}</th>
            <th>{{ 'label_category'|trans }}</th>
            <th>{{ 'label_author'|trans }}</th>
            <th>{{ 'Tagi' }}</th>
            <th>{{ 'label_actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for vinyl in author.vinyls %}
        <tr>
            <td>{{ vinyl.id }}</td>
            <td>{{ vinyl.title }}</td>
            <td>{{ vinyl.year}}</td>
            <td>{{ vinyl.description }}</td>
            <td>{{ vinyl.category.name }}</td>
            <td>{{ vinyl.author.name }}</td>

            <td>
                {%  for tag in vinyl.tags %}
                    {{ tag.title }}
                {%  endfor %}

            </td>


            <td>
                <a href="{{ url('vinyl_show', {id: vinyl.id}) }}" title="{{ 'action_view'|trans }}">
                    {{ 'action_view'|trans }}
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ url('vinyl_delete', {id: vinyl.id}) }}" title="{{ 'delete'|trans }}">
                        <svg class="bi bi-x-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" >
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                        </svg>
                    </a>
                    <a href="{{ url('vinyl_edit', {id: vinyl.id})}}" title="{{'edit'|trans }}">
                        <svg class="bi bi-pencil" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                        </svg> </a>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        <td>
        </td>
        </tbody>
    </table>

{% endblock %}