{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_vinyl_details'|trans({'%id%': vinyl.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_vinyl_details'|trans({'%id%': vinyl.id|default('')}) }}</h1>
    {% if vinyl is defined and vinyl|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ vinyl.id }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  vinyl.title }}</dd>
            <dt>{{ 'label_year'|trans }}</dt>
            <dd>{{  vinyl.year }}</dd>
            <dt>{{ 'label_description'|trans }}</dt>
            <dd>{{  vinyl.description }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  vinyl.category.name }}</dd>
            <dt>{{ 'label_author'|trans }}</dt>
            <dd>{{  vinyl.author.name }}</dd>
            <dt>{{ 'label_tags' }}</dt>
            <dd>
                {%  for tag in vinyl.tags %}
                    {{ tag.title }}
                {%  endfor %}

            </dd>

            <dt>{{ 'Dodaj nowy komentarz' }}</dt>
            <dd> {{ form_start(form, { method: 'POST', action: url('vinyl_show', {id: vinyl.id}) }) }}
                {{ form_widget(form) }}
                <div class="form-group row float-sm-right">
                    <input type="submit" value="{{ 'Zapisz'|trans }}" class="btn btn-primary" />
                </div>
            </dd>
            <dt>{{ 'Komentarze' }}</dt>
            <dd>
                <ul class="list-group-flush" >

                    {% for comment in vinyl.comments %}
                        <li class="list-group-item">

                            <div class="date">
                                {{ comment.createdAt|date('Y/m/d') }}<br>
                            </div>
                            <div class="comment">
                            {{ comment.text }}<br>
                            </div>
                        </li>
                    {% endfor %}

                </ul>

            </dd>

        </dl>
        <p>
            <a href="{{ url('vinyl_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}